@import "compass/css3";
@import "compass/utilities";

footer {
  @include box-sizing(border-box);
  display: inline-block;
  text-align: center;
  padding: 13px;
  width: 100%;
  @include background-image(linear-gradient(#fefefe, #f2f2f2));

  .batch-control.left, .batch-control.right {
    padding: 0 8px;
    color: #dadada;
  }



  .info {
    color: #8b9199;
  }
}